In [1]:
# import pandas and load dataset
import pandas as pd
df = pd.read_csv(filepath_or_buffer="adult.data.csv")

In [2]:
# display first 5 rows of dataframe
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# count number of males and females

df["sex"].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [20]:
# summary statistics for female entries

df[df["sex"]=="Female"].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,10771.000000,1.077100e+04,10771.000000,10771.000000,10771.000000,10771.000000
mean,36.858230,1.857463e+05,10.035744,568.410547,61.187633,36.410361
std,14.013697,1.029861e+05,2.379954,4924.262944,340.907518,11.811300
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,25.000000,1.173630e+05,9.000000,0.000000,0.000000,30.000000
50%,35.000000,1.760770e+05,10.000000,0.000000,0.000000,40.000000
75%,46.000000,2.283315e+05,12.000000,0.000000,0.000000,40.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [19]:
# summary statistics for all data

df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [34]:
# calculate percentage of entries from germany

isGermany= df[df["native-country"]=="Germany"].count()
print(isGermany["age"]*100/df.count()["age"])

0.42074874850281013

In [39]:
# stats for entries with salary over 50k

df[df["salary"]==">50K"].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,7841.000000,7.841000e+03,7841.000000,7841.000000,7841.000000,7841.000000
mean,44.249841,1.880050e+05,11.611657,4006.142456,195.001530,45.473026
std,10.519028,1.025418e+05,2.385129,14570.378951,595.487574,11.012971
min,19.000000,1.487800e+04,2.000000,0.000000,0.000000,1.000000
25%,36.000000,1.191010e+05,10.000000,0.000000,0.000000,40.000000
50%,44.000000,1.761010e+05,12.000000,0.000000,0.000000,40.000000
75%,51.000000,2.309590e+05,13.000000,0.000000,0.000000,50.000000
max,90.000000,1.226583e+06,16.000000,99999.000000,3683.000000,99.000000

In [41]:
# stats for entries with salary 50k or less

df[df["salary"]=="<=50K"].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,24720.000000,2.472000e+04,24720.000000,24720.000000,24720.000000,24720.000000
mean,36.783738,1.903409e+05,9.595065,148.752468,53.142921,38.840210
std,14.020088,1.064823e+05,2.436147,963.139307,310.755769,12.318995
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,25.000000,1.176060e+05,9.000000,0.000000,0.000000,35.000000
50%,34.000000,1.794650e+05,9.000000,0.000000,0.000000,40.000000
75%,46.000000,2.390230e+05,10.000000,0.000000,0.000000,40.000000
max,90.000000,1.484705e+06,16.000000,41310.000000,4356.000000,99.000000

In [54]:
# filter entries with education level hs-grad or higher

df[df["salary"]==">50K"]["education"]>="HS-grad"

7         True
8         True
9        False
10        True
11       False
         ...
32539    False
32545    False
32554     True
32557     True
32560     True
Name: education, Length: 7841, dtype: bool

In [58]:
df[df["race"]=="Amer-Indian-Eskimo"].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,37.173633,120831.147910,9.311897,625.266881,34.176849,40.048232
std,12.447130,88338.636336,2.310387,2753.238961,245.583106,11.695364
min,17.000000,12285.000000,2.000000,0.000000,0.000000,3.000000
25%,28.000000,35036.500000,9.000000,0.000000,0.000000,40.000000
50%,35.000000,102541.000000,9.000000,0.000000,0.000000,40.000000
75%,45.500000,176142.000000,10.000000,0.000000,0.000000,40.000000
max,82.000000,445168.000000,16.000000,27828.000000,1980.000000,84.000000

In [75]:
df[df["salary"]==">50K"]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [87]:
# count married and unmarried in high earners
# (wealthy[wealthy["marital-status"].str.contains("Married")]>wealthy[wealthy["marital-status"].str.contains("Married")]
print(wealthy[wealthy["marital-status"].str.contains("Married")]["age"].count())
print(wealthy[~wealthy["marital-status"].str.contains("Married")]["age"].count())

6736
1105

In [88]:
# summary stats for weekly work hours

df["hours-per-week"].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [90]:
# count entries with 99 weekly work hours

df[df['hours-per-week']==99.00].count()

age               85
workclass         85
fnlwgt            85
education         85
education-num     85
marital-status    85
occupation        85
relationship      85
race              85
sex               85
capital-gain      85
capital-loss      85
hours-per-week    85
native-country    85
salary            85
dtype: int64

In [93]:
wealthy[wealthy['hours-per-week']==99.00].count()

age               25
workclass         25
fnlwgt            25
education         25
education-num     25
marital-status    25
occupation        25
relationship      25
race              25
sex               25
capital-gain      25
capital-loss      25
hours-per-week    25
native-country    25
salary            25
dtype: int64

In [109]:
df.groupby(["native-country"])['hours-per-week'].describe()

,count,mean,std,min,25%,50%,75%,max
native-country,,,,,,,,
?,583.0,41.512864,12.427774,1.0,40.00,40.0,45.00,99.0
Cambodia,19.0,40.894737,2.514287,40.0,40.00,40.0,40.00,50.0
Canada,121.0,40.404959,13.173571,8.0,35.00,40.0,48.00,72.0
China,75.0,37.786667,11.057947,1.0,37.50,40.0,40.00,60.0
Columbia,59.0,39.067797,8.709615,5.0,40.00,40.0,40.00,60.0
Cuba,95.0,39.157895,10.784461,5.0,40.00,40.0,40.00,70.0
Dominican-Republic,70.0,42.471429,11.051554,22.0,40.00,40.0,40.00,98.0
Ecuador,28.0,39.571429,10.235843,22.0,33.00,40.0,41.25,66.0
El-Salvador,106.0,36.792453,9.531619,3.0,35.00,40.0,40.00,60.0
England,90.0,41.833333,14.012234,7.0,40.00,40.0,48.00,99.0
France,29.0,45.068966,14.718625,15.0,40.00,42.0,50.00,99.0
Germany,137.0,41.014599,12.328223,6.0,40.00,40.0,50.00,70.0
Greece,29.0,44.241379,15.929880,4.0,40.00,40.0,60.00,75.0
Guatemala,64.0,39.234375,6.519183,18.0,40.00,40.0,40.00,60.0
Haiti,44.0,36.909091,11.776639,10.0,31.50,40.0,40.00,75.0
Holand-Netherlands,1.0,40.000000,NaN,40.0,40.00,40.0,40.00,40.0
Honduras,13.0,36.307692,10.904010,17.0,30.00,40.0,40.00,60.0
Hong,20.0,40.900000,6.820248,30.0,40.00,40.0,40.00,65.0
Hungary,13.0,35.615385,18.527180,3.0,20.00,40.0,50.00,60.0
India,100.0,41.530000,12.295565,8.0,40.00,40.0,50.00,84.0
Iran,43.0,43.976744,11.863285,6.0,40.00,40.0,50.00,70.0
Ireland,24.0,42.416667,8.355767,25.0,40.00,40.0,45.00,60.0
Italy,73.0,41.602740,13.650132,6.0,40.00,40.0,45.00,80.0
Jamaica,81.0,38.592593,9.249024,10.0,35.00,40.0,40.00,70.0
Japan,62.0,43.693548,13.985459,10.0,40.00,40.0,50.00,99.0
Laos,18.0,40.333333,3.865382,31.0,40.00,40.0,40.00,50.0
Mexico,643.0,40.340591,10.497768,4.0,40.00,40.0,40.00,99.0
Nicaragua,34.0,36.176471,8.426044,11.0,30.50,40.0,40.00,60.0
Outlying-US(Guam-USVI-etc),14.0,41.857143,10.747859,24.0,36.25,40.0,50.25,60.0
Peru,31.0,35.387097,11.283254,4.0,29.00,40.0,40.00,60.0
Philippines,198.0,39.595960,10.706437,8.0,40.00,40.0,40.00,99.0
Poland,60.0,38.333333,11.715073,3.0,40.00,40.0,40.00,65.0
Portugal,37.0,41.891892,8.717109,30.0,40.00,40.0,40.00,84.0
Puerto-Rico,114.0,38.570175,9.842988,6.0,36.25,40.0,40.00,80.0
Scotland,12.0,41.250000,9.799119,20.0,40.00,40.0,41.25,60.0
South,80.0,42.412500,16.409856,4.0,40.00,40.0,50.00,99.0
Taiwan,51.0,38.882353,15.249455,2.0,35.00,40.0,45.00,84.0
Thailand,18.0,45.444444,20.071115,10.0,36.25,40.0,57.50,80.0
Trinadad&Tobago,19.0,37.368421,11.800238,14.0,37.50,40.0,40.00,60.0
United-States,29170.0,40.447755,12.417203,1.0,40.00,40.0,45.00,99.0
Vietnam,67.0,37.343284,11.962761,1.0,40.00,40.0,40.00,77.0
Yugoslavia,16.0,44.562500,11.581415,20.0,40.00,40.0,50.50,66.0

In [111]:
poor = df[df["salary"]=="<=50K"]

In [113]:
# work hours stats by country for high earners

wealthy.groupby("native-country")["hours-per-week"].describe()

,count,mean,std,min,25%,50%,75%,max
native-country,,,,,,,,
?,146.0,45.547945,10.202827,8.0,40.00,40.0,50.00,80.0
Cambodia,7.0,40.000000,0.000000,40.0,40.00,40.0,40.00,40.0
Canada,39.0,45.641026,12.066673,20.0,40.00,45.0,51.00,72.0
China,20.0,38.900000,10.125008,10.0,38.00,40.0,41.25,60.0
Columbia,2.0,50.000000,0.000000,50.0,50.00,50.0,50.00,50.0
Cuba,25.0,42.440000,12.453514,14.0,40.00,40.0,50.00,60.0
Dominican-Republic,2.0,47.000000,9.899495,40.0,43.50,47.0,50.50,54.0
Ecuador,4.0,48.750000,2.500000,45.0,48.75,50.0,50.00,50.0
El-Salvador,9.0,45.000000,7.071068,35.0,40.00,45.0,50.00,55.0
England,30.0,44.533333,11.072592,20.0,40.00,40.0,50.00,85.0
France,12.0,50.750000,16.360290,40.0,40.00,47.5,50.00,99.0
Germany,44.0,44.977273,11.944618,8.0,40.00,45.0,50.00,70.0
Greece,8.0,50.625000,11.783008,35.0,40.00,50.0,61.25,65.0
Guatemala,3.0,36.666667,5.773503,30.0,35.00,40.0,40.00,40.0
Haiti,4.0,42.750000,9.142392,35.0,38.75,40.0,44.00,56.0
Honduras,1.0,60.000000,NaN,60.0,60.00,60.0,60.00,60.0
Hong,6.0,45.000000,10.000000,40.0,40.00,40.0,43.75,65.0
Hungary,3.0,50.000000,10.000000,40.0,45.00,50.0,55.00,60.0
India,40.0,46.475000,10.056220,20.0,40.00,41.5,50.00,72.0
Iran,18.0,47.500000,10.325582,30.0,40.00,45.0,53.75,70.0
Ireland,5.0,48.000000,10.954451,40.0,40.00,40.0,60.00,60.0
Italy,25.0,45.400000,9.495613,20.0,40.00,40.0,50.00,67.0
Jamaica,10.0,41.100000,4.954235,35.0,38.50,40.0,40.00,50.0
Japan,24.0,47.958333,16.120414,21.0,40.00,42.5,50.00,99.0
Laos,2.0,40.000000,0.000000,40.0,40.00,40.0,40.00,40.0
Mexico,33.0,46.575758,10.917390,30.0,40.00,40.0,50.00,80.0
Nicaragua,2.0,37.500000,3.535534,35.0,36.25,37.5,38.75,40.0
Peru,2.0,40.000000,0.000000,40.0,40.00,40.0,40.00,40.0
Philippines,61.0,43.032787,8.445842,35.0,40.00,40.0,40.00,80.0
Poland,12.0,39.000000,9.779385,10.0,40.00,40.0,40.00,50.0
Portugal,4.0,41.500000,5.972158,36.0,39.00,40.0,42.50,50.0
Puerto-Rico,12.0,39.416667,11.057357,8.0,40.00,40.0,42.50,50.0
Scotland,3.0,46.666667,11.547005,40.0,40.00,40.0,50.00,60.0
South,16.0,51.437500,10.942082,35.0,40.00,50.0,60.00,70.0
Taiwan,20.0,46.800000,13.485275,27.0,40.00,40.0,55.00,84.0
Thailand,3.0,58.333333,14.433757,50.0,50.00,50.0,62.50,75.0
Trinadad&Tobago,2.0,40.000000,0.000000,40.0,40.00,40.0,40.00,40.0
United-States,7171.0,45.505369,11.025092,1.0,40.00,40.0,50.00,99.0
Vietnam,5.0,39.200000,1.788854,36.0,40.00,40.0,40.00,40.0
Yugoslavia,6.0,49.500000,11.202678,40.0,40.00,46.0,58.00,65.0

In [114]:
poor.groupby("native-country")["hours-per-week"].describe()

,count,mean,std,min,25%,50%,75%,max
native-country,,,,,,,,
?,437.0,40.164760,12.817002,1.0,40.00,40.0,45.00,99.0
Cambodia,12.0,41.416667,3.088346,40.0,40.00,40.0,40.50,50.0
Canada,82.0,37.914634,13.012056,8.0,32.75,40.0,40.00,70.0
China,55.0,37.381818,11.439844,1.0,36.00,40.0,40.00,60.0
Columbia,57.0,38.684211,8.610952,5.0,40.00,40.0,40.00,60.0
Cuba,70.0,37.985714,9.960055,5.0,40.00,40.0,40.00,70.0
Dominican-Republic,68.0,42.338235,11.121594,22.0,40.00,40.0,40.00,98.0
Ecuador,24.0,38.041667,10.251105,22.0,30.00,40.0,40.00,66.0
El-Salvador,97.0,36.030928,9.396867,3.0,32.00,40.0,40.00,60.0
England,60.0,40.483333,15.177472,7.0,40.00,40.0,45.00,99.0
France,17.0,41.058824,12.401969,15.0,40.00,40.0,50.00,66.0
Germany,93.0,39.139785,12.121299,6.0,38.00,40.0,45.00,70.0
Greece,21.0,41.809524,16.857103,4.0,40.00,40.0,55.00,75.0
Guatemala,61.0,39.360656,6.570218,18.0,40.00,40.0,40.00,60.0
Haiti,40.0,36.325000,11.943000,10.0,30.00,40.0,40.00,75.0
Holand-Netherlands,1.0,40.000000,NaN,40.0,40.00,40.0,40.00,40.0
Honduras,12.0,34.333333,8.626949,17.0,30.00,37.5,40.00,45.0
Hong,14.0,39.142857,4.294131,30.0,37.75,40.0,40.00,50.0
Hungary,10.0,31.300000,18.595400,3.0,20.00,30.0,47.50,60.0
India,60.0,38.233333,12.617403,8.0,35.00,40.0,40.00,84.0
Iran,25.0,41.440000,12.440123,6.0,40.00,40.0,48.00,65.0
Ireland,19.0,40.947368,7.183884,25.0,38.00,40.0,42.00,55.0
Italy,48.0,39.625000,15.090683,6.0,38.75,40.0,40.00,80.0
Jamaica,71.0,38.239437,9.673919,10.0,35.00,40.0,40.00,70.0
Japan,38.0,41.000000,11.902759,10.0,40.00,40.0,41.50,65.0
Laos,16.0,40.375000,4.112988,31.0,40.00,40.0,40.00,50.0
Mexico,610.0,40.003279,10.377441,4.0,40.00,40.0,40.00,99.0
Nicaragua,32.0,36.093750,8.663454,11.0,30.00,40.0,40.00,60.0
Outlying-US(Guam-USVI-etc),14.0,41.857143,10.747859,24.0,36.25,40.0,50.25,60.0
Peru,29.0,35.068966,11.609513,4.0,28.00,40.0,40.00,60.0
Philippines,137.0,38.065693,11.265646,8.0,40.00,40.0,40.00,99.0
Poland,48.0,38.166667,12.237600,3.0,40.00,40.0,40.00,65.0
Portugal,33.0,41.939394,9.062075,30.0,40.00,40.0,40.00,84.0
Puerto-Rico,102.0,38.470588,9.745988,6.0,36.00,40.0,40.00,80.0
Scotland,9.0,39.444444,9.166667,20.0,40.00,40.0,40.00,55.0
South,64.0,40.156250,16.831771,4.0,35.00,40.0,48.50,99.0
Taiwan,31.0,33.774194,14.270505,2.0,20.00,40.0,40.00,60.0
Thailand,15.0,42.866667,20.413114,10.0,35.00,40.0,52.50,80.0
Trinadad&Tobago,17.0,37.058824,12.477332,14.0,35.00,40.0,40.00,60.0
United-States,21999.0,38.799127,12.400570,1.0,35.00,40.0,40.00,99.0
Vietnam,62.0,37.193548,12.422664,1.0,40.00,40.0,40.00,77.0
Yugoslavia,10.0,41.600000,11.305849,20.0,40.00,40.0,40.00,66.0